:root{
    --main-window-width  : 80%;  
        /*TaskWindowのmain-window　幅比率を定義　*/
    --btn-window-width   : calc(97.5% - var(--main-window-width)); 
        /*TaskWindowのbtn-window　 幅比率を定義*/
    --task-window-height : 400px; 
        /*TaskWindowのmain-window　高さ比率を定義*/
}

/* 【CSSの書く順序】
    position        : relative;
    top(bottom)     : 0px
    right(left)     : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 0px;
    overflow-x      : scroll;
    height          : 0px;
    overflow-y      : scroll;

    background-color: red;
    border-top      : 5px solid #b1b1b1; 
    border-left     : 5px solid #b1b1b1; 
    border-right    : 5px solid #b1b1b1; 
    border-bottom   : 5px solid #b1b1b1;
    box-shadow      : 2px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius   : 5px; 

    display         : block;    
*/

/*なぜかipadは全て11%分高さが少ない*/

html, body {
    margin          : 0;
    padding         : 0;

    width           : 100vw;  /* 画面の横幅いっぱい */
    height          : 100vh; /* 画面の高さいっぱい */

    overflow-x      : hidden; /* スクロールバーを防ぐ */
    overflow-y      : scroll;
}

/*=================================================================================*/
/*====[ヘッダー部分]=============================================================================*/

/*＝＝＝＝1枚目　＝＝＝＝＝＝*/
.aeon-1baseTop{
    position        : relative;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 30svh;
 
    z-index         : 1;

    display         : block;
}
.aeon-1baseMBanner{
    position        : relative;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 6svh;
 
    z-index         : 1;

    display         : block;
}
.aeon-1baseMiddleCnt{
    position        : relative;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 53svh;
 
    z-index         : 1;

    display         : block;
    overflow-y      : scroll;
    overflow-x      : scroll;
}
.aeon-1baseMiddle{
    position        : absolute;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 100svh;
 
    z-index         : 1;

    display         : block;
}

.aeon-1baseBottomCnt{
    position        : relative;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 11svh;
 
    z-index         : 1;

    display         : block;
    overflow-y      : scroll;
    overflow-x      : scroll;
}
.aeon-1baseBottom{
    position        : absolute;
    top             : 0svh;
    right           : 0svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 100svw;

    height          : 100svh;
 
    z-index         : 1;

    display         : block;
}


.aeon-ornerbtn{
    position        : absolute;

    top             : -60svh; /* -60px を -60svh に変換 */
    right           : 10svw; /* 10px を 10svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

    width           : 50svw;
    height          : 37svh;

    z-index         : 2;

    display         : block;
}

.aeon-items{/*初期画面　ボタンの倍率。23％　*/
    position        : absolute;

    width           : 230svw; /* 230px を 230svw に変換 */

    z-index         : 2;

    display         : block;
}/*以下のボタン＠は倍率23%で250px離れています*/
.aeon-items--creditbtn{
    bottom          : 220svh; /* 220px を 220svh に変換 */
    left            : 50svw; /* 50px を 50svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
 
}
.aeon-items--baonbtn{
    bottom          : 220svh;
    left            : 300svw; /* 300px を 300svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-items--emoneybtn{
    bottom          : 220svh;
    left            : 550svw; /* 550px を 550svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-items--cashbtn{
    bottom          : 220svh;
    left            : 800svw; /* 800px を 800svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}

.aeon-items--ribobtn{/*リボ払いボタン*/
    bottom          : 120svh; /* 120px を 120svh に変換 */
    left            : 50svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
 
}
.aeon-items--giftbtn{/*ギフトカードボタン*/
    bottom          : 120svh;
    left            : 800svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;

}
.aeon-items--beonpaybtn{/*バオンペイ*/
    bottom          : 120svh;
    left            : 550svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-items--somethingbtn{/*銀行的なボタン*/
    bottom          : 120svh;
    left            : 300svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-items--baonpointbtn{
    bottom          : 25svh; /* 25px を 25svh に変換 */
    left            : 300svw;
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}

.aeon-whitebtns{/*初期画面　白ボタンの倍率。20％　*/
    position        : absolute;

    width           : 190svw; /* 190px を 190svw に変換 */

    z-index         : 2;

    display         : block;
}/*以下、　白ボタンは倍率20%で200ずつ離れています。*/
.aeon-whitebtns--refbtn{
    bottom          : 5svh; /* 5px を 5svh に変換 */
    left            : 45svw; /* 45px を 45svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-whitebtns--chargebtn{
    bottom          : 5svh;
    left            : 245svw; /* 245px を 245svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-whitebtns--readcardbtn{
    bottom          : 5svh;
    left            : 445svw; /* 445px を 445svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-whitebtns--tolangbtn{
    bottom          : 5svh;
    left            : 645svw; /* 645px を 645svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}
.aeon-whitebtns--callstaffbtn{
    bottom          : 5svh;
    left            : 845svw; /* 845px を 845svw に変換 */
    margin          : 0svh 0svw 0svw;
    padding         : 0svh 0svw 0svw;
}

.aeon-1base-purchaceAmount{
    position        : absolute;
    top             : 100svh; /* 100px を 100svh に変換 */
    left            : 200svw; /* 200px を 200svw に変換 */

    width           : 350svw; /* 350px を 350svw に変換 */

    z-index         : 2;

    font-size       : 70svh; /* 70px を 70svh に変換 */

    display         : block;
}

/*＝＝＝最初の画面　英語バージョン＝＝＝＝*/
.aeon-1base--en{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
#tojp{
    bottom          : 0svh;
    left            : 700svw; /* 700px を 700svw に変換 */
    display         : none;
}

/*＝＝＝＝２枚目　現金　カードチェック＝＝＝＝*/
.aeon-1base--checkcard{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}

.aeon-checkcard{/*現金支払い　カード確認　基盤*/
    position        : absolute;

    width           : 450svw; /* 450px を 450svw に変換 */

    z-index         : 2;

    display         : none;
}
.aeon-checkcard--baoncard{
    bottom          : 300svh; /* 300px を 300svh に変換 */
    left            : 50svw;
}
.aeon-checkcard--pointcard{
    bottom          : 300svh;
    right           : 50svw;
}
.aeon-checkcard--nocards{
    bottom          : 90svh; /* 90px を 90svh に変換 */
    left            : 280svw; /* 280px を 280svw に変換 */
}
.aeon-whitebtns--23checkcardBack{/*現金支払い　カード確認時　戻るボタン*/
    bottom          : 0svh;
    right           : 50svw;
    display         : none;
}

/*＝＝＝3枚目　現金　カードチェック＝＝＝＝*/
.aeon-1base--3readcard{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}

/*3枚目　現金　支払い*/
.aeon-1base--3cash{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.aeon-3complete{/*現金支払い　お支払い完了ボタン*/
    position        : absolute;
    bottom          : 120svh;
    right           : 200svw;

    width           : 350svw;

    z-index         : 2;

    display         : none;
}
.aeon-whitebtns--3cashwhitebtns{/*現金支払い　白ボタン*/
    display         : none;
}
.aeon-whitebtns--3cashback{
    bottom          : 0svh;
    right           : 450svw;
}
.aeon-whitebtns--3return{
    bottom          : 0svh;
    left            : 530svw;
}
.aeon-whitebtns--3callstaff{
    bottom          : 0svh;
    right           : 10svw;
}
.aeon-whitebtns--3addcard{
    bottom          : 0svh;
    left            : 20svw;
}

.aeon_like_3cashdiv{/*現金支払い　文字列オブジェクト*/
    position        : absolute;

    width           : 350svw;

    z-index         : 3;

    font-size       : 50svh; /* 50px を 50svh に変換 */

    display         : none;
}
.aeon_like_3cashdiv--3purchaceAmount{
    top             : 60svh;
    left            : 20svw;
}
.aeon_like_3cashdiv--3paymentAmount{
    top             : 200svh;
    left            : 20svw;
}
.aeon_like_3cashdiv--3change{
    bottom          : 205svh;
    left            : 20svw;
}

.aeon_like_4cashdiv{/*現金支払い　文字列オブジェクト*/
    position        : absolute;

    width           : 350svw;

    z-index         : 3;

    font-size       : 40svh; /* 40px を 40svh に変換 */

    display         : none;
}
.aeon_like_4cashdiv--4paymentAmount{
    bottom          : 90svh;
    left            : 500svw;
}
.aeon_like_4cashdiv--4change{
    bottom          : 140svh;
    left            : 500svw;
}


.aeon-1base--underprocess{/*処理中画面*/
    height          : 100svh;
    width           : 100svw;
    display         : none;
}

.aeon-1base--payByBaon{/*BAONで支払い*/
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.aeon-1base--scanbc{/*バーコードリーダーで支払い*/
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.aeon-1base--credit{/*クレジット払いで支払い*/
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.aeon-1base--ribo{/*リボ払いで支払い*/
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.credit-purchase-amount{/*クレジット支払の際　残高表示*/
    position        : absolute;
    bottom          : 205svh;
    left            : 535svw;
    width           : 350svw;

    z-index         : 2;

    font-size       : 35svh; /* 35px を 35svh に変換 */

    display         : none;
}

/*他の支払い方法の際の　戻る＆係員呼出*/
.aeon-1base--callstaff{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.aeon-whitebtns--3otherpayments-btns{
    display         : none;
}
.aeon-whitebtns--3opcall{
    bottom          : 0svh;
    left            : 750svw;
}
.aeon-whitebtns--3opback{
    bottom          : 0svh;
    left            : 300svw;
}

/*支払い完了画面*/
.aeon-1base--finish{
    height          : 100svh;
    width           : 100svw;
    display         : none;
}
.finish-Amount{
    position        : absolute;

    z-index         : 2;

    font-size       : 40svh; /* 40px を 40svh に変換 */

    display         : none;
}
.finish-Amount--change{
    bottom          : 150svh;
    left            : 480svw;
}
.finish-Amount--payment{
    bottom          : 105svh;
    left            : 480svw;
}