:root{
    --main-window-width  : 80%;  
        /*TaskWindowのmain-window　幅比率を定義　*/
    --btn-window-width   : calc(97.5% - var(--main-window-width)); 
        /*TaskWindowのbtn-window　 幅比率を定義*/
    --task-window-height : 400px; 
        /*TaskWindowのmain-window　高さ比率を定義*/
}

/* 【CSSの書く順序】
    position        : relative;
    top(bottom)     : 0px
    right(left)     : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 0px;
    overflow-x      : scroll;
    height          : 0px;
    overflow-y      : scroll;

    background-color: red;
    border-top      : 5px solid #b1b1b1; 
    border-left     : 5px solid #b1b1b1; 
    border-right    : 5px solid #b1b1b1; 
    border-bottom   : 5px solid #b1b1b1;
    box-shadow      : 2px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius   : 5px; 

    display         : block;    
*/

/*なぜかipadは全て11%分高さがない。*/

html, body {
    margin          : 0;
    padding         : 0;

    width           : 100vw;  /* 画面の横幅いっぱい */
    height          : 100vh; /* 画面の高さいっぱい */

    overflow-x      : hidden; /* スクロールバーを防ぐ */
    overflow-y      : scroll;
}

/*=================================================================================*/
/*====[ヘッダー部分]=============================================================================*/



/*＝＝＝＝1枚目　＝＝＝＝＝＝*/
.aeon-1baseTop{
    position        : relative;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 26.7%;
  
    z-index         : 1;

    display         : block;
}
.aeon-1baseMBanner{
    position        : relative;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 5.34%;
  
    z-index         : 1;

    display         : block;
}
.aeon-1baseMiddleCnt{
    position        : relative;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 47.17%;
  
    z-index         : 1;

    display         : block;
    overflow-y      : scroll;
    overflow-x      : scroll;
}
.aeon-1baseMiddle{
    position        : absolute;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 100%;
  
    z-index         : 1;

    display         : block;
}

.aeon-1baseBottomCnt{
    position        : relative;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 9.79%;
  
    z-index         : 1;

    display         : block;
    overflow-y      : scroll;
    overflow-x      : scroll;
}
.aeon-1baseBottom{
    position        : absolute;
    top             : 0px;
    right           : 0px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 100%;

    height          : 100%;
  
    z-index         : 1;

    display         : block;
}



.aeon-ornerbtn{
    position        : absolute;

    top             : -60px;
    right           : 10px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

    width           : 50%;
    height          : 37%;

    z-index         : 2;

    display         : block;
}

.aeon-items{/*初期画面　ボタンの倍率。23％　*/
    position        : absolute;
    /*元の幅は230px. それを７．７３％減少した。*/
    width           : 212px;

    z-index         : 2;

    display         : block;
}
/*以下のボタン＠は倍率23%で250px離れています*/
.aeon-items--creditbtn{
    bottom          : 220px;
    left            : 50px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
 
}
.aeon-items--baonbtn{
    bottom          : 220px;
    left            : 300px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-items--emoneybtn{
    bottom          : 220px;
    left            : 550px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-items--cashbtn{
    bottom          : 220px;
    left            : 800px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}

.aeon-items--ribobtn{/*リボ払いボタン*/
    bottom          : 120px;
    left            : 50px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
 
}
.aeon-items--giftbtn{/*ギフトカードボタン*/
    bottom          : 120px;
    left            : 800px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;

}
.aeon-items--beonpaybtn{/*バオンペイ*/
    bottom          : 120px;
    left            : 550px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-items--somethingbtn{/*銀行的なボタン*/
    bottom          : 120px;
    left            : 300px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-items--baonpointbtn{
    bottom          : 25px;
    left            : 300px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}

.aeon-whitebtns{/*初期画面　白ボタンの倍率。20％　*/
    position        : absolute;
 /*元の幅は190px. それを７．７３％減少した。*/
    width           : 175px;

    z-index         : 2;

    display         : block;
}/*以下、　白ボタンは倍率20%で200ずつ離れています。*/
.aeon-whitebtns--refbtn{
    bottom          : 5px;
    left            : 45px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-whitebtns--chargebtn{
    bottom          : 5px;
    left            : 245px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-whitebtns--readcardbtn{
    bottom          : 5px;
    left            : 445px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-whitebtns--tolangbtn{
    bottom          : 5px;
    left            : 645px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}
.aeon-whitebtns--callstaffbtn{
    bottom          : 5px;
    left            : 845px;
    margin          : 0px 0px 0px;
    padding         : 0px 0px 0px;
}

.aeon-1base-purchaceAmount{
    position        : absolute;
    top             : 100px;
    left            : 200px;

    width           : 350px;

    z-index         : 2;

    font-size       : 70px;

    display         : block;
}

/*＝＝＝最初の画面　英語バージョン＝＝＝＝*/
.aeon-1base--en{
    height          : 100%;
    width           : 100%;
    display         : none;
}
#tojp{
    bottom          : 0px;
    left            : 700px;
    display         : none;
}

/*＝＝＝＝２枚目　現金　カードチェック＝＝＝＝*/
.aeon-1base--checkcard{
    height          : 100%;
    width           : 100%;
    display         : none;
}

.aeon-checkcard{/*現金支払い　カード確認　基盤*/
    position        : absolute;
 /*元の幅は450px. それを７．７３％減少した。*/
    width           : 415px;

    z-index         : 2;

    display         : none;
}
.aeon-checkcard--baoncard{
    bottom          : 300px;
    left            : 50px;
}
.aeon-checkcard--pointcard{
    bottom          : 300px;
    right           : 50px;
}
.aeon-checkcard--nocards{
    bottom          : 90px;
    left            : 280px;
}
.aeon-whitebtns--23checkcardBack{/*現金支払い　カード確認時　戻るボタン*/
    bottom          : 0px;
    right           : 50px;
    display         : none;
}

/*＝＝＝3枚目　現金　カードチェック＝＝＝＝*/
.aeon-1base--3readcard{
    height          : 100%;
    width           : 100%;
    display         : none;
}

/*3枚目　現金　支払い*/
.aeon-1base--3cash{
    height          : 100%;
    width           : 100%;
    display         : none;
}
.aeon-3complete{/*現金支払い　お支払い完了ボタン*/
    position        : absolute;
    bottom          : 120px;
    right           : 200px;

     /*元の幅は350px. それを７．７３％減少した。*/
    width           : 323px;

    z-index         : 2;

    display         : none;
}
.aeon-whitebtns--3cashwhitebtns{/*現金支払い　白ボタン*/
    display         : none;
}
.aeon-whitebtns--3cashback{
    bottom          : 0px;
    right           : 450px;
}
.aeon-whitebtns--3return{
    bottom          : 0px;
    left            : 530px;

}
.aeon-whitebtns--3callstaff{
    bottom          : 0px;
    right           : 10px;
}
.aeon-whitebtns--3addcard{
    bottom          : 0px;
    left            : 20px;
}

.aeon_like_3cashdiv{/*現金支払い　文字列オブジェクト*/
    position        : absolute;

     /*元の幅は350px. それを７．７３％減少した。*/
    width           : 323px;

    z-index         : 3;

    font-size       : 50px;

    display         : none;
}
.aeon_like_3cashdiv--3purchaceAmount{
    top             : 60px;
    left            : 20px;
}
.aeon_like_3cashdiv--3paymentAmount{
    top             : 200px;
    left            : 20px;
}
.aeon_like_3cashdiv--3change{
    bottom          : 205px;
    left            : 20px;
}

.aeon_like_4cashdiv{/*現金支払い　文字列オブジェクト*/
    position        : absolute;

     /*元の幅は350px. それを７．７３％減少した。*/
    width           : 323px;

    z-index         : 3;

    font-size       : 40px;

    display         : none;
}
.aeon_like_4cashdiv--4paymentAmount{
    bottom          : 90px;
    left            : 500px;
}
.aeon_like_4cashdiv--4change{
    bottom          : 140px;
    left            : 500px;
}


.aeon-1base--underprocess{/*処理中画面*/
    height          : 100%;
    width           : 100%;
    display         : none;
}

.aeon-1base--payByBaon{/*BAONで支払い*/
    height          : 100%;
    width           : 100%;
    display         : none;
}
.aeon-1base--scanbc{/*バーコードリーダーで支払い*/
    height          : 100%;
    width           : 100%;
    display         : none;
}
.aeon-1base--credit{/*クレジット払いで支払い*/
    height          : 100%;
    width           : 100%;
    display         : none;
}
.aeon-1base--ribo{/*リボ払いで支払い*/
    height          : 100%;
    width           : 100%;
    display         : none;
}
.credit-purchase-amount{/*クレジット支払の際　残高表示*/
    position        : absolute;
    bottom          : 205px;
    left            : 535px;
     /*元の幅は350px. それを７．７３％減少した。*/
    width           : 323px;

    z-index         : 2;

    font-size       : 35px;

    display         : none;
}

/*他の支払い方法の際の　戻る＆係員呼出*/
.aeon-1base--callstaff{
    height          : 100%;
    width           : 100%;
    display         : none;
}
.aeon-whitebtns--3otherpayments-btns{
    display         : none;
}
.aeon-whitebtns--3opcall{
    bottom          : 0px;
    left            : 750px;
}
.aeon-whitebtns--3opback{
    bottom          : 0px;
    left            : 300px;
}

/*支払い完了画面*/
.aeon-1base--finish{
    height          : 100%;
    width           : 100%;
    display         : none;
}
.finish-Amount{
    position        : absolute;

    z-index         : 2;

    font-size       : 40px;

    display         : none;
}
.finish-Amount--change{
    bottom          : 150px;
    left            : 480px;
}
.finish-Amount--payment{
    bottom          : 105px;
    left            : 480px;
}